%h2 Coop Propane
%p
  This site scrapes the current price of propane daily from
  %a{:href=>"http://www.co-openergy.org/prices.html"} Coop Energy
  records it and charts it.
%p
  It uses the 
  %a{:href => "http://www.sinatrarb.com/"} Sinatra
  web framework 
%p
  The 
  %a{:href=>"http://flot.googlecode.com/"} Flot
  charting library 
%p
  And is deployed on  
  %a{:href=>"http://heroku.com"} Heroku
%p
  It was written by  
  %a{:href=>"http://georgeredinger.com"} George Redinger


