.grid_8
  %p
    Price now is
    = @prices[:new]
    <br>
    Last price was 
    = @prices[:old]
    <br>
    - if @prices[:new].to_f.to_s == @prices[:old].to_s 
      Nothing new here
    - else
      New price !
