.grid_8
  %p
    Price now is
    = @scrapes
    Last price is 
    = @price_last.price
    <br>
    - if @scrapes.to_f.to_s == @price_last.price.to_s 
      nothing new here
    - else
      New price !
