body {
	background-image: url(/images/propane.png);
	background-repeat:no-repeat;
	background-position: 96px 0px;
}
.button {
  color:green;
	position: absolute;
	cursor: pointer;
}
#coop {
	position: relative;
	font-family: sans-serif;
	font-size: 16px;
	margin: 50px;
	width: 800px;
	height: 400px;
	margin: 0 auto;
}

#coop div.button {
	font-size: smaller;
	color: #999;
	background-color: #eee;
	padding: 2px;
}

.container {
  margin:0,0,0,10px auto;
	width: 960px;
	height: 400px;
	}
h2 {
	margin-top:25px;
	width: 100%;
	text-align:center;
	text-shadow: 0.1em 0.1em 0.2em green;
}
h1 {
	font-size: 70px;
	width: 300px;
	margin: 2% auto;
	color:orange;
	text-shadow: 0.1em 0.1em 0.2em red;
}
nav {
 	margin-left: 40px;
	margin-top: 10px;
}

.xAxis > .tickLabel 
{
	margin-top:5px;
	margin-left:0px;
	margin-bottom: 10px;
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-webkit-transform:rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

